body {
  background-color:
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

.mytable {
  background-color: white;
  margin-top: 60px;
}

.cortado {
  text-decoration: line-through;
}

.my-panel {
  margin-top: 20px;
}

 span {
    margin-left: 15px;
}

.glyphicon-remove {
  font-size: 1.7em;
  color: blue;
}
