<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://unpkg.com/@uirouter/angularjs@1.0.7/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-touch.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="app/app.js" charset="utf-8"></script>
    <script src="services/services.js" charset="utf-8"></script>
    <script src="home/home.js" charset="utf-8"></script>
    <script src="categoria/categoria.js" charset="utf-8"></script>
    <script src="tarefa/tarefa.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/master.css">
    <title></title>
  </head>
  <body ng-app="myApp" ng-init="listaUnica = true; botaoExibicao = true; isNavCollapsed = true">

    <!--  NAVIGATION -->
    <nav class="navbar navbar-default">

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" ng-click="isNavCollapsed = !isNavCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar" uib-collapse="isNavCollapsed">
          <ul class="nav navbar-nav">
            <li class="navbar-left active"> <a ui-sref="home" ng-click="botaoExibicao = true"> Home </a> </li>
            <li class="navbar-left"> <a ui-sref="categoria" ng-click="botaoExibicao = false">Categorias</a> </li>
            <li class="navbar-left"> <a ui-sref="tarefa" ng-click="botaoExibicao = false">Tarefas</a> </li>
            <li class="divider navbar-right" ng-show="botaoExibicao"> <button class="btn btn-primary" type="button" name="button" ng-click="listaUnica = !listaUnica"> listar por {{ listaUnica ? "Categorias" : "lista única" }} </button> </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- MAIN CONTENT -->
    <div class="container">
      <!-- codigo será inserido aqui -->
      <div ui-view></div>
    </div>

  </body>
</html>
