
<div>
  <!-- para o design final irei usar divs com grid -->
  <div ng-show="!listaUnica">
    <table ng-repeat="categoria in $ctrl.categorias">
      <thead>
        <tr>
          <td colspan="3">{{ categoria }}</td>
        </tr>

        <tr>
          <td>Tarefa realizada</td>
          <td>Tarefa</td>
          <td>Categoria</td>
        </tr>
      </thead>
      <tbody>
        <tbody ng-repeat="tarefa in $ctrl.tarefas | filter:{categoria: categoria } ">
          <tr>
            <td> <input type="checkbox" ng-model="tarefa.feito" /> </td>
            <td ng-bind="tarefa.nome" ng-class="{cortado : tarefa.feito}"></td>
            <td ng-bind="tarefa.categoria"></td>
          </tr>
        </tbody>
      </tbody>
    </table>
  </div>

  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx lista única xxxxxxxxxxxxxxxxxxxxxxxxxx -->

  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx lista única xxxxxxxxxxxxxxxxxxxxxxxxxx -->


<!-- TAREFAS PENDENTES -->
  <div ng-show="listaUnica">
    <table>
      <thead>
        <tr>
          <td colspan="3">Tarefas Pendentes</td>
        </tr>

        <tr>
          <td>Tarefa realizada</td>
          <td>Tarefa</td>
          <td>Categoria</td>
        </tr>
      </thead>
      <tbody ng-repeat="tarefa in $ctrl.tarefas | filter : false">
        <tr>
          <td > <input type="checkbox" ng-model="tarefa.feito" /> </td>
          <td ng-bind="tarefa.nome" ng-class="{cortado : tarefa.feito}"></td>
          <td ng-bind="tarefa.categoria"></td>
        </tr>
      </tbody>
    </table>

    <!-- TAREFAS CONCLUÍDAS -->
    <table>
      <thead>
        <tr>
          <td colspan="3">Tarefas Concluídas</td>
        </tr>

        <tr>
          <td>Tarefa realizada</td>
          <td>Tarefa</td>
          <td>Categoria</td>
        </tr>
      </thead>
      <tbody ng-repeat="tarefa in $ctrl.tarefas | filter : true">
        <tr>
          <td> <input type="checkbox" ng-model="tarefa.feito" /> </td>
          <td ng-bind="tarefa.nome" ng-class="{cortado : tarefa.feito}"></td>
          <td ng-bind="tarefa.categoria"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
