<div>
  <form name="form" class="" ng-submit="$ctrl.formSubmit(valorEntrada)" novalidate>
    <div>
      <input type="text" name="nameCategoria" ng-model="valorEntrada" required>
    </div>

    <div class="">
      <div class="" ng-repeat="categoria in $ctrl.categorias">
        <p>{{ categoria }}</p>
      </div>

      <!-- && form.nameCategoria.$submitted -->
      <div class="" ng-show="$ctrl.sucesso">
        <p> <span>OK</span> Categoria adicionado com sucesso </p>
      </div>

      <!-- && form.nameCategoria.$submitted  -->
      <div class="" ng-show="$ctrl.falha">
        <p> <span>Erro!</span> Não foi possível adicionar a categoria. MAIS IFO SOBRE ERRO </p>
      </div>
    </div>

  </form>

</div>
